* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}
.go {
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.gogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 60px;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.gogogo {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-62%, -40%);
    font-size: 40px;
}
.Proy {
    text-align: center;
}
.hub {
    width: 60%;
}
.Pri {
    margin-left: 50px;
    margin-right: 50px;
    border-spacing: 10px 75px;
    border-collapse: separate;
}
.fi {
    background-color: #509EA0;
}
.raaww {
    text-align: center;
    color: white;
}
.bo {
    font-size: 35px;
    text-transform: uppercase;
}
.piky {
    font-size: 20px;
}
.uwu {
    margin-left: 5%;
    margin-right: 5%;
}
.fufa {
    width: 40%;
}
.no {
    text-decoration: none;
    color: black;
}
.no:hover {
    color: #509EA0;
}
.MrPopo {
    background-color: black;
}
.poff {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
}
.owo {
    margin-left: 15%;
}
.bla {
    color: white;
}
.prueba {
    margin-left: 25%;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .gogo {
        font-size: 40px;
    }
    .gogogo {
        font-size: 30px;
    }
    .Pri {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .Pri td {
        display: inline-block;
        width: 40%;
        margin: 0%;
    }
    .hub {
        width: 80%;
    }
    .raaww.bo {
        font-size: 25px;
    }
    .piky {
        font-size: 16px;
    }
    iframe {
        height: 300px;
    }
}